// Layout
//
// Styles for managing the structural hierarchy of the site.

.social {
  text-align: center ;
  margin-bottom: 0.75em;
  a {
    margin-left: 0.5em;
  }
  i {
    font-size: 28px;
  }
}

footer {
  font-size: 0.75rem;
  margin-top: 12em;
  margin-bottom: 0em;
  color: #bababa;
  h4 {
    margin-bottom: 1em;
  }
  .copyright {
    color: #bababa;
    @include bp-small {
      text-align: center;
    }
    @include bp-medium {
      text-align: center;
    }
  }
}
