<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="row">
    <div class="large-12 large-centered columns">

      <header class="masthead">
        <img src="{{ site.baseurl }}/public/profile.jpg" alt="Johannes Jasper">
      </header>

    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="large-4 large-centered social columns">
      <a href="mailto:{{ site.social.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope"></i></a>
      <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
      <a href="http://github.com/{{ site.social.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
      <a href="http://www.flickr.com/{{ site.social.flickr }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-flickr"></i></a>
      <a href="https://keybase.io/{{ site.social.keybase }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-key"></i></a>
      <a href="https://untappd.com/user/{{ site.social.untappd }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-untappd"></i></a>
    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        {{ content }}
      
      </div>


      <!-- <main>
        <h2>Latest Work</h2>
        {% for post in site.posts %}
          <div class="project-post">
            <h3><a href="{{ post.git }}">{{ post.title }}</a></h3>
            {{ post.content }}
          </div>
        {% endfor %}
      </main> -->


      {% include footer.html %}      
    </div>
  </div>
</body>
</html>
